<div class="bg-slate-800 text-white p-10 mb-10">
  <div class="flex">
    <h1 class="grow">WorkNight</h1>
    <div>
      Logged in as <%= @user.name %> | <%= link_to 'logout', auth_logout_path, data: { turbo_prefetch: false } %>
    </div>
  </div>
</div>